# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
dist/
sdist/

# Coverage
htmlcov/
.coverage
.coverage.*

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.venv/

# mkdocs documentation
site/

# PyCharm
.idea/
docs/_build/
docs/reference/joseki
