[tool.poetry]
authors = ["Yvan Nollet <yvan.nollet@rayference.eu>"]
classifiers = [
  "Programming Language :: Python :: 3.7",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
]
description = "Joseki"
documentation = "https://joseki.readthedocs.io"
homepage = "https://github.com/nollety/joseki"
license = "MIT"
name = "joseki"
readme = "README.rst"
repository = "https://github.com/nollety/joseki"
version = "1.0.0"

[tool.poetry.urls]
Changelog = "https://github.com/nollety/joseki/releases"

[tool.poetry.dependencies]
Pint = "^0.17"
click = "^7.0"
numpy = "^1.20.3"
pandas = "^1.2.4"
python = ">=3.7.1,<3.10"
scipy = "^1.6.3"
xarray = "^0.18.2"
requests = "^2.25.1"
netCDF4 = "^1.5.7"

[tool.poetry.dev-dependencies]
Pygments = "^2.7.1"
black = "^20.8b1"
coverage = {extras = ["toml"], version = "^5.3"}
darglint = "^1.5.5"
flake8 = "^3.8.4"
flake8-bandit = "^2.1.2"
flake8-bugbear = "^20.1.4"
flake8-docstrings = "^1.5.0"
flake8-rst-docstrings = "^0.0.14"
furo = "^2021.4.11-beta.34"
mypy = "^0.790"
pep8-naming = "^0.11.1"
pre-commit = "^2.7.1"
pre-commit-hooks = "^3.2.0"
pytest = "^6.1.1"
reorder-python-imports = "^2.3.5"
safety = "^1.9.0"
sphinx = "^3.2.1"
sphinx-autobuild = "^2020.9.1"
sphinx-click = "^2.5.0"
typeguard = "^2.9.1"
xdoctest = {extras = ["colors"], version = "^0.15.0"}
ipython = "^7.24.0"
jupyterlab = "^3.0.16"
matplotlib = "^3.4.2"
sphinxcontrib-bibtex = "^2.3.0"

[tool.poetry.scripts]
joseki = "joseki.__main__:main"

[tool.coverage.paths]
source = ["src", "*/site-packages"]

[tool.coverage.run]
branch = true
source = ["joseki"]

[tool.coverage.report]
fail_under = 100
show_missing = true

[build-system]
build-backend = "poetry.masonry.api"
requires = ["poetry>=0.12"]
