[tool.poetry]
authors = ["Yvan Nollet <yvan.nollet@rayference.eu>"]
classifiers = [
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
]
description = "Joseki"
documentation = "https://joseki.readthedocs.io"
homepage = "https://github.com/nollety/joseki"
license = "MIT"
name = "joseki"
readme = "README.rst"
repository = "https://github.com/nollety/joseki"
version = "1.3.0"

[tool.poetry.urls]
Changelog = "https://github.com/nollety/joseki/releases"

[tool.poetry.dependencies]
Pint = ">=0.17"
click = ">=7.0"
netCDF4 = ">=1.5.7"
numpy = ">=1.22.1"
pandas = ">=1.2.4"
python = ">=3.8,<3.10"
requests = ">=2.25.1"
scipy = ">=1.6.3"
xarray = ">=0.18.2"
molmass = ">=2021.6.18"

[tool.poetry.dev-dependencies]
Pygments = ">=2.7.1"
bandit = "==1.7.2"
black = ">=21.12b0"
coverage = {extras = ["toml"], version = ">=6.2"}
darglint = ">=1.5.5"
flake8 = ">=3.8.4"
flake8-bandit = ">=2.1.2"
flake8-bugbear = ">=21.11.29"
flake8-docstrings = ">=1.5.0"
flake8-rst-docstrings = ">=0.2.5"
furo = ">=2021.4.11-beta.34"
ipython = ">=7.24.0"
jupyterlab = ">=3.0.16"
matplotlib = ">=3.4.2"
mypy = ">=0.790"
pep8-naming = ">=0.11.1"
pre-commit = ">=2.7.1"
pre-commit-hooks = ">=4.0.1"
pytest = ">=6.1.1"
reorder-python-imports = ">=2.3.5"
safety = ">=1.9.0"
sphinx = ">=4.3.1"
sphinx-autobuild = ">=2021.3.14"
sphinx-click = ">=3.0.2"
sphinxcontrib-bibtex = ">=2.3.0"
typeguard = ">=2.9.1"
xdoctest = {extras = ["colors"], version = ">=0.15.0"}

[tool.poetry.scripts]
joseki = "joseki.__main__:main"

[tool.coverage.paths]
source = ["src", "*/site-packages"]

[tool.coverage.run]
branch = true
source = ["joseki"]

[tool.coverage.report]
fail_under = 100
show_missing = true

[build-system]
build-backend = "poetry.masonry.api"
requires = ["poetry>=1.0"]
